<li>
  <article>
    <%= comment.content %>
    <footer>
      by
      <%= comment.user.name %>,
      <%= format_time(comment.created_at) %>
    </footer>
    <ul>
      <%= render comment.comments.order(id: :asc) %>
    </ul>
  </article>
</li>
