<h1>What goes with...?</h1>

<%= form_tag ingredients_path, method: :get do %>
  <%= text_field_tag :q, params[:q],
                     data: { search: 'ingredients' },
                     autocomplete: 'off' %>
  <%= submit_tag "Search" %>
  <ul data-search-results></ul>
<% end %>
