/**
  * SIZES
  * Based on a Golden Ratio scale (approximated to 1.62)
  * If further gradations are necessary, use root(1.62) = 1.27
  * Use for: font-size, padding, margin, line-height, etc.
*/

$size-200: 0.38rem;
$size-300: 0.62rem;
$size-400: 1rem;
$size-450: 1.27rem;
$size-500: 1.62rem;
$size-600: 2.62rem;

/**
  * COLOURS
*/

/**
  * FONTS
*/
